body{
    background-color: rgb(87, 110, 110);
    margin: 0;
    padding: 0;
}
.container_main{
    background-color: rgb(87, 110, 110);
    text-align: center;
    width: 100%;
}
.container_main h1{
    margin-top: 0px;
}
.usuario{
    margin-top: 30%;
    width: 100px;
}
.datos{
    margin: 0px auto;
    width: 80%;
    text-align: start;
    color: white;
}
.datos label{
    font-size: 17px;
    margin-left: 10px
}
.datos input{
    outline: none;
    margin-top: 8px;
    padding: 0 15px;
    width: 90%;
    height: 40px;
    border-radius: 30px;
}
.registros{
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.registros a{
    color: blue;
    text-decoration: none;
}
.Iniciar{
    color: white;
    display: block;
    margin: 60px auto;
    padding-top:15px;
    width: 200px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid white;
}


@media(min-width: 768px) {
    body{
        background-color: rgb(87, 110, 110);
        margin: auto;
    }
    .container_main{
        background-color: aliceblue;
        width: 50%;
        height: 80vh;
        margin: 80px auto;
        border-radius: 20px;
    }
    .usuario{
        margin-top: 30px;
    }
    .datos{
        color: black;
    }
    .datos input{
        background-color: rgba(87, 110, 110, 0.788);
        color: white;
        font-size: 15px;
    }

    .Iniciar{
        background-color: rgb(87, 110, 110);
        color: white;
        border: 1px solid;
    }
}